* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .topNav a  {
      color: white;
      text-decoration: none;
      font-size: 17px;
      padding: 15px;
      display: block;
      text-align: center;
    }
  
    .topNav ul{
      list-style-type: none;
      background-color: limegreen;
      padding: 0px;
      margin: 0px;
      overflow: hidden;
    }
  
    .topNav li{
      float: right;
    }
  
    body {
      background-image: linear-gradient(to right, skyblue, white);
    }

    h1 {
        font-size: 50px;
        margin-top: 50px;
        text-align: center;
        font-style: oblique;
    }

    .left-side {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        align-items: center;
        float: left;

    }
    .quest-box {
        display: block;
        border: solid;
        border-width: 2px;
        width: 300px;
        height: 200px;
    }

    #p1 {
        text-align: center;
        padding-top: 70px;
    }

    #p2 {
        text-align: center;
    }

    .quest-box p {
        opacity: 70%;
        font-size: large;
    }

    .quest-box {
        background-color: lightcyan;
    }

    #submit-button {
        margin-top: 30px;
        border-radius: 50%;
        width: 150px;
        height: 40px;
        background-color: black;
    }

    button p {
        color: beige;
    }

    .right-side {
        display: flex;
        flex-direction: column;
        margin-right: 200px;
        margin-top: 50px;
        align-items: center;
        float: right;
    }

    .faq {
        border: dashed;
        margin: 20px;
        display: block;
        border: none;
    }

    .accordion {
        background-color: burlywood;
        color: black;
        cursor: pointer;
        font-size:  1.2rem;
        padding: 2rem 2.5rem;
        transition: 0.4s;
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .accordion i {
        font-size: 1.6rem;
    }

    .active, .accordion:hover {
        background-color: aqua;
    }

    .panel p {
        color: blue;
        font-size: 1.2rem;
        line-height: 1.4;
    }

    .panel {
        padding: 0 2rem 2.5rem 2rem;
        background-color: antiquewhite;
        overflow: hidden;
        background-color: aqua;
        max-height: 0;
        transition: max-height 0.4s;
    }

    .panel.show {
        max-height: 300px;
    }
    