* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body {
    margin: 0; /* Remove default body margin */
    background-image: linear-gradient(to right, skyblue, white);
  }

  .topNav {
    background-color: limegreen;
    padding: 15px;
    overflow: hidden; /* Clear floats */
    text-align: left; /* Align content to the left */
  }

  .topNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .topNav li {
    float: right; /* Align list items to the right */
  }

  .topNav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
  }

  .topNav a:hover {
    background-color: #C24641 ; /* Change this to the desired background hover color */
    color: tan; /* Change this to the desired text hover color */
  }

    h1 {
        font-size: 50px;
        margin-top: 50px;
        text-align: center;
        font-style: oblique;
    }

    .left-side {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        align-items: center;
        float: left;

    }
    .quest-box {
        display: block;
        border: solid;
        border-width: 2px;
        width: 300px;
        height: 200px;
    }

    #p1 {
        text-align: center;
        padding-top: 70px;
    }

    #p2 {
        text-align: center;
    }

    .quest-box p {
        opacity: 70%; /*To make the the text looks a bit transparent*/
        font-size: large;
    }

    .quest-box {
        background-color: lightcyan;
    }

    #submit-button {
        margin-top: 30px;
        border-radius: 50%;
        width: 150px;
        height: 40px;
        background-color: crimson;
    }

    button p {
        color: beige;
    }

    .right-side {
        display: flex;
        flex-direction: column;
        margin-right: 250px;
        align-items: center;
        float: right;
    }

    #accordion {
        margin: 100px auto;
        width: 600px;
    }

    #accordion li{
        list-style: none;
        width: 100%;
        margin-bottom: 10px;
        background: darkcyan;
        padding: 10px;
        border-radius: 10px;
    }

    #accordion li label {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: large;
        cursor: pointer;
        color: black;
        font-style: oblique;
        font-weight: bold;
    }

    #accordion li label span {
        transform: rotate(90deg); /*Change the orientation of the object*/
        font-size: 25px;
        color: gold;
    }

    #accordion label + input[type="radio"]{
        display: none;
    }

    #accordion .content {
        padding: 0 10px;
        line-height: 26px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        font-style: oblique;
        color: yellow;
        font-size: large;
    }

    #accordion label + input[type="radio"]:checked + .content {
        max-height: 400px;
    }





    
    