
  /* Style the links inside the navigation bar */
 .topNav a  {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 15px;
    display: block;
    text-align: center;
  }
  .topNav ul{
    list-style-type: none;
    background-color: limegreen;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }
  .topNav li{
    float: right;
  }