.topNav a  {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 15px;
    display: block;
    text-align: center;
  }

  .topNav ul{
    list-style-type: none;
    background-color: limegreen;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }

  .topNav li{
    float: right;
  }

  body {
    background-image: linear-gradient(to right, skyblue, white);
  }

  .container {
    display: flex;
    align-items: center;
  }
  
  #bottle-container {
    width: 300px; /* adjust the width of the image */
    height: auto;
    margin-top: 50px;
    margin-left: 50px;
  }
  
  #list-container {
    flex: 1; /* make the list take up the remaining space */
    list-style: none;
    padding: 20px;
    margin-top: 220px;
    font-size: large;
  }

  .bold {
    font-weight: bold;
  }

  #image-2 {
    width: 237px;
    height: 250px;
    padding-top: 20px;
  }

  #image-3 {
    width: 237px;
    height: 240px;
    padding-top: 20px;
  }

  #fact-image-container {
   display: flex;
   flex: 1;
   flex-direction: column;
   align-items: center;
  }

  #fact-image-container img {
   width: 250px; /* set the width of each image to 100% of the container */
   height: auto; /* set the height of each image to auto */
   margin-bottom: 20px; /* add a margin between each image */
  }

  #fact-text-container {
    flex: 1; /* make the list take up the remaining space */
    padding: 20px;
    margin-top: 220px;
  }

  #fact-1 {
    flex: 1; /* make the list take up the remaining space */
    font-size: large;
  }

  #fact-2 {
    font-size: large;
  }

  #fact-3 {
    font-size: large;
  }



