* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body {
    margin: 0; /* Remove default body margin */
    background-image: linear-gradient(to right, skyblue, white); /*Set background page to this gradient color*/
  }
  
  .topNav {
    background-color: limegreen; /*Set the navigation bar box to be this color*/
    padding: 15px;
    overflow: hidden; /* Clear floats */
    text-align: left; /* Align content to the left */
  }

  .topNav ul {
    list-style-type: none; /*To clear the bullet point*/
    margin: 0;
    padding: 0;
  }

  .topNav li {
    float: right; /* Align list items to the right */
  }

  .topNav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 15px;
    transition: color 0.3s ease, background-color 0.3s ease; /*Transition for 0.3 seconds when the cursor hover over the navigation bar*/
  }
  
  .topNav a:hover {
    background-color: #C24641 ; /* Change this to the desired background hover color */
    color: tan; /* Change this to the desired text hover color */
  }

    h1 { 
        font-size: 50px;
        margin-top: 50px;
        text-align: center;
        font-style: oblique;
    }

    h2 {
        margin-left: 20px;
        font-style: oblique;
    }

    .info {
        display: block; /*Display box*/
        border: dashed;
        border-width: 2px;
        background-color: lightcyan;
        margin: 20px;
        padding: 40px;
        font-family: 'Times New Roman', Times, serif;
    }

    .info ul {
        display: inline-block; /*Display in one line*/
    }

    .info li {
        list-style-type: square; /*Set the default point shape to square shape*/
    }

    #header p {
        text-align: center;
        font-size: large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .details {
        font-size: large;
    }

    #header p {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }